.button{
  width: 100%;
  border-radius: 30px;
}
.outerdiv{
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  background-color: blue;
  margin: 10px;
  border-radius: 10px;
}
.innerdiv{
  margin: 10px;
  width: 28rem;
justify-items: space-evenly;

}